@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root{
    --primary: #EAEAEA;
}

.modegelap{
    --primary: #2A2A2D;
}

.card1{
    max-width: 73rem;
    height: 320px;
    width: auto;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .3);
    background-color: whitesmoke;
    border-radius: 11px;
    margin-left: 40px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 36px;
    text-align: left;
}

.card2{
    max-width: 73rem;
    height: 57px;
    padding: 17px;
    width: auto;
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
    background-color: #ADEFD1;
    border-radius: 10px 10px 0px 00px;
    margin-bottom: 1rem;
}

nav img{
    margin-right: 5px;
    margin-top: 9px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* untuk shape profile */
.btn-rounded {
    border-radius: 25px;
}