.container-table table {
    width: 100%;
    height: fit-content;
    border-radius: 200px;
}
/* .container-table table tr:first-of-type th:first-of-type {
    border-radius: 20px 0 0 0;
}
.container-table table tr:first-of-type th:last-of-type {
    border-radius: 0 20px 0 0;
}
.container-table table tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 20px;
}
.container-table table tr:last-of-type td:last-of-type {
    border-radius: 0 0 20px 0;
} */
.card4{
    max-width: 80rem;
    height: 540px;
    padding-top: 0px;
    width: auto;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .3);
    background-color: white;
    border-radius: 11px;
    margin-left: 40px;
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    margin-right: 36px;
    text-align: left;
}
.layout{
    text-align: center;
}
.hedbel{
    background-color: #00203F;
    color: whitesmoke;
}