@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');
:root{
    --primary: #EAEAEA;
    --fonts: #212529;
}
.modegelap{
    --primary: #2A2A2D;
    --fonts:#ffff;
}

.porum{
    margin-left: 20px;
}

nav img{
    margin-right: 5px;
    margin-top: 9px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dopdown{
    background-color: var(--primary);
}

.btn-rounded {
    border-radius: 25px;
}

.form-title{
    font-family: 'Crete Round', serif;
    color: var(--fonts);
    margin-bottom: 10px;
}

.form-group{
    margin-top: 20px;
}

.form-control{
    height: 39px;
}

.boton{
    margin-top: 50px; 
    font-size: 20px; 
    color: #2C3639; 
    background: #ADEFD1;
    margin-left: 50px;
    width: 80%; 
    border-radius: 15px;
    border: #212529 solid;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.fonku{
    color: var(--fonts);
}

.card3{
    max-width: 80rem;
    height: 45rem;
    padding: 50px;
    font-size: 20px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .3);
    margin-top: 2.5rem;
    border-radius: 11px;
    text-align: left;
    display: flex;
    background-color: whitesmoke;
}

.photocard{
    max-width: 300px;
    height: fit-content;
    padding: 10px;
    width: 300px;
    font-size: 20px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .3);
    border-radius: 11px;
    margin-top: 7rem;
    text-align: left;
    background-color: whitesmoke;
}